body {
    font-family: "Inter", sans-serif;
}  
hr {
    border-top: 3px solid #5200d983;
    margin-top: 100px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    cursor: pointer;
}
.welcome-block {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-image: url('../assets/welcome-bg.png');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
  }

.header-nav {
    height: 40px;
}
.header-nav__list {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
}
.header-nav__list-item a:hover{
    cursor: pointer;
}
.logo {
    position: relative;
    z-index: 1;
}
.logo::before {
    content: '';
    position: absolute;
    background-image: url('../assets/header-logo.svg');
    width: 73px;
    height: 67px;
    left: -20px;
    top: -35px;
    z-index: -1;
}
.welcome-block__search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}
.welcome-block__search-title {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}
.welcome-block__search-subtitle {
    font-size: 28px;
    color: #fff;
    font-weight: 400;
}
.welcome-block__choose {
    display: flex;
    height: 50px;
    background-color: #fff;
    align-items: center;
    gap: 5px;
}
.welcome-block__choose-input {
    border-right: 1px solid #5200D9;
    height: 35px;
    padding: 5px;
}
.welcome-block__choose-select {
    height: 35px;
    padding: 5px;
    width: 140px;
}
.welcome-block__search-btn {
    background-color :#5200D9;
    width: 230px;
    height: 65px;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    border: none;
    font-weight: 600;
    border-radius: 6px;
}
.welcome-block__search-btn:hover {
    cursor: pointer;
    background-color :#390096;
}

.main {
    margin: 50px 0;
}
.whom-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}
.whom-block__advant {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.whom-block__item {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 20px;
}
.whom-block__item-text {
    font-size: 24px;
    font-weight: 600;
}
.whom-block__descript {
    display: flex;
}
.whom-block__descript-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 170%;
    max-width: 610px;
    gap: 25px 0;
}
.whom-block__descript-title {
    font-size: 32px;
    font-weight: 600;
    margin: 0 auto;
}
.whom-block__descript-subtitle {
    font-weight: 600;
}
.whom-block__descript-list {
    display: flex;
    flex-direction: column;
    list-style: disc;
    gap: 10px 0;
}
.whom-block__descript-item {
    margin-left: 15px;
}
.bying-block {
    margin: 100px 0;
}
.bying-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px 0;
}

.bying-block__title {
    font-size: 32px;
    margin: 0 auto;
    font-weight: 600;
}
.bying-block__steps {
    display: flex;
    gap: 0 20px;
}
.bying-block__step-item {
    padding: 30px;
    width: 295px;
    align-items: center;
    gap: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: #5200d92d;
    border-radius: 5px;
    text-align: center;
}
.bying-block__step-img {
    max-width: 114px;
}
.bying-block__step-text {
    line-height: 150%;
}
.benefits-block {
    margin: 70px 0;
}
.benefits-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}
.benefilts-block__title {
    margin: 0 auto;
    font-size: 32px;
}
.benefits-block__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 40px 0;
}
.benefits-block__item {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.benefits-block__item-img {
    max-width: 225px;
    height: 225px;
}
.benefits-block__item-title {
    font-weight: 600;
}
.benefits-block__item-text {
    width: 90%;
}
.reviews-block {
    margin: 70px 0;
}
.reviews-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}
.reviews-block__slider {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
}
.reviews-block__title {
    font-size: 32px;
    font-weight: 600;
    margin: 0 auto;
}
.reviews-block__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 295px;
    background-color: #5200d92d;
    border-radius: 4px;
    gap: 10px 0;
}
.reviews-block__item-date {
    font-weight: 300;
}
.reviews-block__item-text {
    font-weight: 500;
    margin-top: 20px;
}
.reviews-block__item-name {
    font-weight: 400;
    margin-top: 20px;
}

.footer {
    margin-top: 50px;
    padding: 50px 0 80px 0;
}
.footer-wrapper {
    display: flex;
    gap: 0 40px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.footer-content__list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}
.footer-content__item-title,
.footer-social__title {
    font-weight: 600;
}
.footer-content__item-text:hover {
    cursor: pointer;
}
.footer-social__wrapper {
    max-width: 220px;
    display: flex;
    gap: 20px 0;
    flex-direction: column;
}
.footer-social__block {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}